
/* Index Body */
.StudentGrid {
  --bs-font-family: arial;
  font-size: medium;
  text-align: center;
  background-color: gray;
}
body {
  --bs-body-font-family: arial;
    background-color: white;
  }
  .studentlogo {
    width: 150px;
    left: 15px;
    
  }
  
  .span {
    text-align: right;
  }
  .main_img {
    width: 100%;
    height: 300px;
    }
.imgtext {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  background-color: darkslategray;
  padding-left: 100px;
  padding-right: 20px;
  font-size: 35px;
}
.welcomeimg {
  width: 70%;
  height: 330px;
  border: 1px solid black;
}
.welcomesjc {

 padding-left: 620px;
}

.bodyimg {
 padding-top: 70px;
 padding-left: 50px;

}
.teacher {
  width: 70%;
  height: 210px;
  border: 1px solid black;
}
.labeltext {
  display: block;
  width: 10px;
  text-align: right;
  padding-right: 50px;
}
.inputtxt {
  width: 30% !important;
  height: 40px;
  border-radius: 25px;
  border: 1px solid blue !important;
}
.txt {
  background-color: black;
}
.admint {
  padding-top: 10px;

}


ul {  
    color: white;
    text-align: center;
    list-style-type: none; 
    margin: 0;  
    padding: 20px;  
    overflow: hidden;  
    background-color: white;  
  }  
    
  li {  
    float: left;  
  }  
    
  li a {  
    text-align: center;
    --bs-body-font-family: arial;
    display: block;  
    color: black;   
    padding: 10px 20px;  
    text-decoration: none;  
   
    
  }  
  .indexcol {
    background-color: gray;
    text-align: center;
    --bs-body-font-family: arial;
    font-size: medium;

  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray#2196F3;
    padding: nonepx;
  }
  .grid-item {
    --bs-body-font-family: arial;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid none;
    padding: 1px;
    font-size: 30px;
    text-align: center;
    width: 1386px;
  }
  
/* Registration Form Section */

 * {box-sizing: border-box}

/* Add padding to containers */
.container2 {
  font-style: arial;
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.small {
  font-size: small;
  font-style: italic;
}




  /* LOGIN */
form {
  
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Avatar image */
.avatar1 {
  
  height: 100px;
  width: auto;
  margin-right: 5px;
padding-left: 800px;


}

/* Add padding to containers */
.container3 {
  font-size: small;
  --bs-body-font-family: arial;
  padding: 16px;
}

/* The "Forgot password" text */
.container1{
 text-align: center;
 font-size: large;
}
.login-body {
  text-align: center;
  --bs-body-font-family: arial;
}
.hr1 {
  border-top: 5px solid black;
}
footer {
  background-color: black;
  height: 70px;
  width: 100%;
}
.footertext {
  text-align: center;
  color: white;
  top: 20%;
  position: relative;
}
.logininput {
  width: 100% !important;
  height: 40px;
  border-radius: 25px;
  border: 1px solid black !important;
 
}
